*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: bisque;
}

h1{
    background-color: #081b31;
    color: white;
    height: 15vh;

    line-height: 15vh; /* Vertically center the text */
    font-size: 10vh;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5rem;
    border-radius: 50%;
}

.choice :hover{
    transform: scale(1.01);
    
    cursor: pointer;
}

.choice{
    height: 200px;
    width: 200px;
    
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1rem;
    gap: 6rem;
}

#user-score , #comp-score, #draw-score, #total-matches{
    font-size: 5rem;
    
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    margin-top: 3rem;
    height: 7vh;
    width: 60vb;
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#reset-game{
    margin-top: 5vh;
    height: 5vh;
    width: 10vw;
    font-size: 1.5rem;
    background-color: #aea791;
    color: white;
    border-radius: 10%;
}

